name: Pull request master

on:
  pull_request:
    branches:
      - master

jobs:
  python2_tests:
    uses: ./.github/workflows/test-python-2.yml

  python3_tests:
    uses: ./.github/workflows/test-python-3.yml
